.language-picker {
    border: 2px solid red;
    padding: .3rem 1.4rem;

    position: relative;

    .header & {
        margin-left: auto;
    }

    .nojs & {
        cursor: pointer;
    }
}

.lang-popout-container {
    list-style-type: none;
    display: block;
    position: absolute;
    top: 2.2rem;
    left: 0;

    padding: .3rem 1.4rem;

    background-color: #171717;

    opacity: 0;
    visibility: hidden;

    & a {
        text-decoration: none;
        color: #d5d5d5;
        &:hover {
            color: #efefef;
        }
    }

    .language-picker > .selected:focus + .lang-popout &,
    .language-picker > .selected + .lang-popout:focus-within,
    .language-picker:hover > .selected + .lang-popout & {
        opacity: 1;
        visibility: visible;

        text-decoration: none;
    }
}
