.language-picker {

    position: relative;

    .header & {
        margin-left: auto;
    }

    .no-js & {
        cursor: pointer;
    }

    & .selected {
        display: flex;
        align-items: center;
        justify-content: space-between;

        padding: .3rem 1rem;

        border: 2px solid rgba(255, 255, 255, 0.22);
        border-radius: .4rem;

        & .language-name {
            margin-left: 8px;
        }
    }
}

.lang-popout-container {
    list-style-type: none;
    display: block;
    position: absolute;
    top: 2.2rem;
    left: 0;
    width: 100%;
    padding: 0;

    background-color: #171717;

    opacity: 0;
    visibility: hidden;

    z-index: 8000;

    & a {
        text-decoration: none;
        color: #d5d5d5;
    }
    & li {
        padding: .3rem 1.4rem;
        color: #d5d5d5;
        &:hover {
            color: #efefef;
            background-color: #3a3a3a;
        }
    }

    // This selector can probably be significantly simplified
    .lang-popout-container:focus,
    .lang-popout-container:focus-within,
    .lang-popout-container:hover,
    .language-picker:focus,
    .language-picker:focus-within,
    .language-picker > .selected:focus + .lang-popout &,
    .language-picker > .selected:focus-within + .lang-popout &,
    .language-picker > .selected + .lang-popout:focus,
    .language-picker > .selected + .lang-popout:focus-within,
    .language-picker:hover > .selected + .lang-popout & {
        opacity: 1;
        visibility: visible;

        text-decoration: none;
    }
}
