---
import StandardLayout from '$layouts/StandardLayout.astro';
---
<StandardLayout>
    <div class="interactive">

        <div class="landing-page">
            <img class="icon" src="/content/shared/banner.svg"/>
            <h1 class="domain-title">headset.guide</h1>
            <h1 class="slogan">Coming soon...</h1>
        </div>

        <script src="/assets/scripts/landing-page.js" hoist/>

    </div>
</StandardLayout>
