---
import StandardLayout from '$layouts/StandardLayout.astro';
---
<StandardLayout>
    <div class="interactive">

        <h1 class="404-title">Oops...</h1>
        <span class="404-message">You seem to be lost or this page doesn't exist</span>

    </div>
</StandardLayout>
