---
import StandardLayout from '$layouts/StandardLayout.astro';
import BannerHmd from '$assets/hmd-icon.astro';
---
<StandardLayout>
    <div class="interactive">

        <div class="landing-page">
            <div class="landing-hmd-wrapper">
                <BannerHmd class="landing-hmd" width="fit-content"/>
            </div>
            <span class="domain-title">headset.guide</span>
            <span class="slogan">Find your next <span class="accent">reality</span></span>
        </div>

        <script src="/assets/scripts/landing-page.js" hoist/>

    </div>
</StandardLayout>
